<p>Thank you for taking the time to get a quote on your equipment. Below you will find the link to view your quote at anytime: <a href="<%= link %>"><%= link %></a></p>

<p>A representative will be in contact with you shortly.</p>
