<div class="row has-title-bar has-no-tabs" ng-init="index()">
    <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
    <div class="span10 offset2">

        <div class="row title-bar">
            <div class="span10">
                <h2><i class="icon icon-comments-alt"></i>Quotes</h2>
            </div>
        </div>

        <div class="row">
            <div class="span10">
                <div class=" row form-inline">
                    <div class="span4">
					<!-- R2 #1 and #2 changes, May 2016. -->
                        <div class="searchDiv">
                            <label>Search description</label>
                            <input style="width:320px;" ng-keyup="listAllDesc()" type="text" ng-enter="searchDescFn()" placeholder="Description" ng-model="searchDesc">
							<img ng-click="searchDescFn(searchDesc)" ng-src="img/system-search.png" style="padding-top: 10px; padding-bottom: 10px;cursor:pointer" />
                        </div>
                    </div>
                    <div class="span4">
                        <div class="searchDiv">
                            <label>Search Vendor</label>
                            <input style="width:320px;" ng-keyup="listAllVendorApp()" type="text" ng-enter="searchVendorFn()" placeholder="Vendor" ng-model="searchVendor">
							<img ng-click="searchVendorFn(searchVendor)" ng-src="img/system-search.png" style="padding-top: 10px; padding-bottom: 10px;cursor:pointer" />
                        </div>
                    </div>
				<div style="float:right">
				<label>Per page</label><select ng-change="index()" ng-model="perpagenum" ng-options="x for x in perpage"></select>
				</div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
							<!--R3 #4 Change,June 2016.-->
							<th style="cursor:pointer" ng-click="sortOrder('sortEnabled')">
							Date
							<span style="float:right" ng-show="dateAsc" class="fa fa-caret-up"></span>
								<span style="float:right" ng-show="dateDesc" class="fa fa-caret-down"></span>
								<span ng-show="sortDate" style="float:right" class="fa fa-sort"></span>
							</th>
                            <th>Total Cost</th>
                            <th>Description</th>
                            <th>Vendor</th>
                            <th>Status</th>
						<input type="hidden" ng-model="sortEnabled" />
						<input type="hidden" ng-model="date" />
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-click="editItem(item._id)" ng-repeat="item in quotes">
						<td>{{item.created | date:'medium'}}</td>
                            <td>${{item.totalCost | number}}</td>

                            <td>{{item.description}}</td>
                            <td>
                                <img class="img-tiny" src="{{item.vendorId.logo.original}}" />&nbsp; {{item.vendorId.name}}
                            </td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>
                
				
				
				<!-- pagination code starts-->
                    <div align="center" ng-if="1 < pageNums2Disp.length">
                        <ul class="pagination">
                            <li ng-class="{'disabled':firstDisabled()}"><a ng-click="first()">First |< </a>
                            </li>
                            <li ng-class="{'disabled':prevDisabled()}"><a ng-click="previous()">Previous << </a>
                      </li>
					  <li ng-repeat="i in pageNums2Disp" ng-class="{'disabled': currDisabled(i)}"><a ng-click="getPage(i)">{{i}}</a></li>
					 
                        <li ng-class="{'disabled': nextDisabled()}"><a ng-click="next()">Next >> </a>
                        </li>
                        <li ng-class="{'disabled':lastDisabled()}"><a ng-click="last()">Last >| </a>
                        </li>
                    </ul>
                    <p align="center">Showing page {{currentPageNum}} of {{maxPageNum}}</p>
                </div>
				<div align="center" ng-if="pageNums2Disp.length < 1">
				<p>No records were found</p>
				
				</div>
                <!-- pagination code  ends-->
				
				
            </div>
        </div>
    </div>
</div>