<p>Hello <%= fullName %>,</p>

<p>You've requested a password reset on the Marlin Quoter.</p>

<p>Your new password is: <strong><%= password %></strong></p>

<p>You can login with your new password at: <a href="<%= link %>"><%= link %>.</a></p>

<p>Once you login, you'll be able to change your password to something more memorable.</p>
