<div class="row has-title-bar has-no-tabs">
    <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
    <div class="span10 offset2">
        
        <div class="row title-bar">
            <div class="span10">
                <h2><i class="icon icon-user"></i> Users</h2>
                <a id="addUser" class="btn btn-primary actions" href="#/dashboard/users/new"><i class="icon icon-plus-sign"></i>Add New User</a>
            </div>
        </div>
        
        <div class="form-inline">
            <label>Search</label>
            <input type="text" style="width:200px" placeholder="Search" ng-model="searchTerm" ng-keyup="listAllProgram()"ng-enter="searchFn()">
			<img ng-click="searchFn()" ng-src="img/system-search.png" style="padding-top: 10px; padding-bottom: 10px;cursor:pointer" />
            
           
			
			
			
			
			
			
			
			<div class="btn-group">
                <button ng-click="getFilteredResults('none')" class="btn" ng-class="{active: roleFilter=='none'}">All</button>
                <button ng-click="getFilteredResults('salesRep')" class="btn" ng-class="{active: roleFilter=='salesRep'}">Sales Rep</button>
                <button ng-click="getFilteredResults('vendorRep')" class="btn" ng-class="{active: roleFilter=='vendorRep'}">Vendor Rep</button>
                <button ng-click="getFilteredResults('admin')" class="btn" ng-class="{active: roleFilter=='admin'}">Admin</button>
            </div>
			
			
			
			
			
			
			
            
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th class="">User</th>
                    <th></th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in users" ng-click="editItem(item._id)">
                    <td>
                        <img class="img-circle img-medium" ng-src="{{item.avatar.original}}" default-image="user"/>
                    </td>
                    <td class="userList"><span class="company-name">{{item.name.first}} {{item.name.last}}</span><br/>
                        <a mail-to="{{item.email}}"></a><br/>
                        <a call-to="{{item.phoneNumber}}"></a>
                    </td>
                    <td>
                        {{getRoleFormatted(item.role)}}
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <div align="center" ng-if="1 < pageNums2Disp.length">
                    <ul class="pagination">
                        <li ng-class="{'disabled':firstDisabled()}"><a ng-click="first()">First |< </a>
                        </li>
                        <li ng-class="{'disabled':prevDisabled()}"><a ng-click="previous()">Previous << </a>
                        </li>
					  <li ng-repeat="i in pageNums2Disp" ng-class="{'disabled': currDisabled(i)}"><a ng-click="getPage(i)">{{i}}</a></li>
					 
                        <li ng-class="{'disabled': nextDisabled()}"><a ng-click="next()">Next >> </a>
                        </li>
                        <li ng-class="{'disabled':lastDisabled()}"><a ng-click="last()">Last >| </a>
                        </li>
                    </ul>
                    <p align="center">Showing page {{currentPageNum}} of {{maxPageNum}}</p>
                </div>
                				<div align="center" ng-if="pageNums2Disp.length < 1">
				<p>No records were found</p>                </div>
    </div>
</div>