    <div  class="row has-title-bar has-no-tabs"  ng-init="index()">
        <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
        <div class="span10 offset2">
    
    
            <div class="row title-bar">
                <div class="span10">
                    <h2><i class="icon icon-file-text-alt"></i> Applications</h2>
                    <!-- <a id="addApplication" class="btn btn-primary actions" href="#/dashboard/applications/new">Add New Application</a> -->
                </div>
            </div>
    
            <div class="row">
                <div class="span10">
                    
                     <div class="row form-inline">
                        <div class="span4">
                            <!-- R2 #1 and #2 changes, May 2016. -->
                            <div class="searchDiv" style="float:left">
                                <label>Search Business</label>
                                <input type="text" style="width:320px;" ng-keyup="listAllBusinessApp()" ng-enter="searchBusinessFn(searchBusiness)" placeholder="Business" ng-model="searchBusiness">
                                <img ng-click="searchBusinessFn(searchBusiness)" ng-src="img/system-search.png" style="padding-top: 10px; padding-bottom: 10px;cursor:pointer" />
                            </div>
							
				
							
							
							
                        </div>
                        <div class="span4">
                            <div class="searchDiv">
                                <label>Search Vendor</label>
                                <input type="text" style="width:320px;" ng-keyup="listAllVendorApp()" ng-enter="searchVendorFn(searchVendor)" placeholder="Vendor" ng-model="searchVendor">
                                <img class="" ng-click="searchVendorFn(searchVendor)" ng-src="img/system-search.png" style="display: inline; padding-top: 10px; padding-bottom: 10px;cursor:pointer" />
                            </div>
                        </div>
                        <div style="float:right">
				<label>Per page</label><select ng-change="index()" ng-model="perpagenum" ng-options="x for x in perpage">
</select>
				</div>
                           
                    </div>
                    
                   <table class="table table-striped table-bordered" cellspacing="0" width="100%">
           <thead>
                            <tr>
                                <th style="cursor:pointer" ng-click="sortOrder('fullLegalBusinessName')">Lessee
								<span style="float:right" ng-show="lesseeasc" class="fa fa-caret-up"></span>
								<span style="float:right" ng-show="lesseedesc" class="fa fa-caret-down"></span>
        <span ng-show="sortproplessee" style="float:right" class="fa fa-sort"></span>
								
								
								
								</th>
                                <th>Vendor</th>
								
                                <th>Status
								<!--
								<span style="float:right" ng-show="statusasc" class="fa fa-caret-up"></span>
								<span style="float:right" ng-show="statusdesc" class="fa fa-caret-down"></span>
								
								<span ng-show="sortpropstatus"  style="float:right" class="fa fa-sort"></span>
								-->
								</th>
								
								
                                <th>Cost
								<!--
								<span style="float:right" ng-show="costasc" class="fa fa-caret-up"></span>
								<span style="float:right" ng-show="costdesc" class="fa fa-caret-down"></span>
								
								<span ng-show="sortpropcost"  style="float:right" class="fa fa-sort"></span>
								-->
								</th>
								
								
								
								
								<input type="hidden" ng-model="sortName" />
								<input type="hidden" ng-model="fullLegalBusinessName" />
								<input type="hidden" ng-model="vendor" />
								<input type="hidden" ng-model="status" />
								<input type="hidden" ng-model="cost" />
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-click="editItem(item._id)" ng-repeat="item in applicationstotal" pagination-id="paginateapp" >
    
                                <td>{{item.company.fullLegalBusinessName}}</td>
                                <td>
                                    <img class="img-tiny" src="{{item.vendorId.logo.original}}" />&nbsp; {{item.vendorId.name}}
                                </td>
                                <td>{{formatStatus(item.status)}}</td>
                                <td>{{item.totalCostDisplay}}</td>
                            </tr>
                        </tbody>
        </table>
        
    <!-- pagination code starts-->
                    <div align="center" ng-if="1 < pageNums2Disp.length">
                        <ul class="pagination">
                            <li ng-class="{'disabled':firstDisabled()}"><a ng-click="first('')">First |< </a>
                            </li>
                            <li ng-class="{'disabled':prevDisabled()}"><a ng-click="previous('')">Previous << </a>
                      </li>
					  <li ng-repeat="i in pageNums2Disp" ng-class="{'disabled': currDisabled(i)}"><a ng-click="getPage(i,'')">{{i}}</a></li>
					 
                        <li ng-class="{'disabled': nextDisabled()}"><a ng-click="next('')">Next >> </a>
                        </li>
                        <li ng-class="{'disabled':lastDisabled()}"><a ng-click="last('')">Last >| </a>
                        </li>
                    </ul>
                    <p align="center">Showing page {{currentPageNum}} of {{maxPageNum}}</p>
                </div>
				<div align="center" ng-if="pageNums2Disp.length < 1">
				<p>No records were found</p>
				
				</div>
                <!-- pagination code  ends-->
            </div>
        </div>
    </div>
</div>